@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
    font-size: 10px;
}

/* the basic style for the file*/
* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Libre Baskerville, sans-serif;
    color: white;
}

/* sets the background image*/
body {
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    width: 100vw;
    text-align: center;

}

header {
    height: 30%;
    width: 100%;
    text-align: center;
}

#intro {
    font-size: 4rem;
    padding: 5%;
    letter-spacing: 2px;
}

#name {
    font-size: 1.5rem;
    padding: 1%;
    width: 50%;
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: rgb(215, 207, 207);
    border-radius: 10px;
    color: black;
}

#email {
    font-size: 1.5rem;
    padding: 1%;
    width: 50%;
    background-color: rgb(215, 207, 207);
    border-radius: 10px;
    color: black;
}

label {
    font-size: 2rem;
}

#submit-btn {
    font-size: 1.5rem;
    padding: 1%;
    width: 25%;
    margin-top: 2%;
    background-color: rgb(215, 207, 207);
    color: blue;
    font-weight: 600;
    border-radius: 10px;
}

#start-btn {
    width: 20%;
    height: 60px;

    color: #002F5C;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration-line: none;

    border-radius: 30px;
    background-color: rgb(215, 207, 207);
    display: none;
    margin: 5% auto;
}

#start-btn:hover {

    border: 4px solid rgb(3, 3, 178);
    cursor: pointer;
}

#progress-bar-container {
    height: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#progressBar {
    width: 90%;
    height: 10px;
    background-color: rgb(197, 194, 194);
    border-radius: 10px;
}

#progressDone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 10px;
    height: 100%;
    width: 0;
    transition: 1sec ease .3sec;

}

#question-container {
    width: 100vw;
    height: 15%;
    font-size: 4rem;

    letter-spacing: 2px;

}

#options-container {
    width: 100vw;
    height: 40%;

}

.answer-button {
    height: 50%;
    width: 45vw;

    background-color: rgb(215, 207, 207);
    color: rgb(3, 3, 178);
    font-size: 3rem;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 30px;
}

.answer-button:hover:not([disabled]) {

    border: 4px solid rgb(3, 3, 178);
    cursor: pointer;
}

.answer-button:hover:disabled {
    cursor: no-drop;
}

#buttons {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
}

#next-btn {
    width: 20%;
    height: 60px;

    color: rgb(3, 3, 178);
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;

    border-radius: 30px;
    margin-top: 4%;
    background-color: rgb(215, 207, 207);

}

#next-btn:hover {

    border: 4px solid rgb(3, 3, 178);
    cursor: pointer;
}

#back-btn {
    width: 20%;
    height: 60px;

    color: rgb(3, 3, 178);
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    padding-top: 1%;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 4%;
    background-color: rgb(215, 207, 207);

}

#back-btn:hover {

    border: 4px solid rgb(3, 3, 178);
    cursor: pointer;
}

.correct {
    background-color: rgb(115, 240, 115);

}

.incorrect {
    background-color: rgb(247, 60, 60);

}

.feedback {
    height: 75%;
    width: 60%;
    font-size: 1.5rem;
    color: black;
    padding: 1%;
    border: 2px solid blue;
    border-radius: 30px;
    background-color: rgb(215, 207, 207);

}

.submitFeedback {
    width: 10%;
    height: 10%;
    border-radius: 30px;
    background-color: rgb(215, 207, 207);
    color: blue;
    border: 2px solid blue;
    margin: 15px auto;
    display: block;
}

.submitFeedback:hover {
    cursor: pointer;
    box-shadow: 5px 5px 7px 0px rgb(215, 207, 207);
}

@media (min-width:320px) {
    header {
        width: 100vw;
        padding-top: 10%;
    }

    h1 {
        font-size: 6rem;
    }

    #intro {
        font-size: 2.5rem;
        padding: 0;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #start-btn {
        width: 60%;
        height: 35px;
        font-size: 1.5rem;
        margin-top: 25%;
    }

    #start-btn:hover {
        border: 4px solid rgb(3, 3, 178);
        cursor: pointer;
    }

    #question-container {
        font-size: 2.5rem;

        text-align: center;
    }

    #options-container {
        height: 50%;

    }

    .answer-button {
        height: 20%;
        width: 90vw;
        font-size: 1.3rem;

    }

    #next-btn {
        width: 30%;
        height: 35px;
        margin-top: 15%;

        font-size: 1.5rem;
    }

    #back-btn {

        width: 30%;
        height: 35px;
        margin-top: 15%;

        font-size: 1.5rem;
    }
}

.feedback {
    height: 75%;
    width: 70%;
    font-size: 1.5rem;
    padding: 5%;
}

.submitFeedback {
    width: 30%;
}


@media (min-width:800px) {
    header {
        height: 20%;
        font-size: 4rem;
        padding-top: 10%;
    }

    #intro {
        font-size: 3.5rem;
        padding: 0;
        padding-top: 10%;

    }

    #start-btn {
        height: 65px;
        font-size: 2.5rem;
        margin-top: 5%;
    }

    #question-container {
        font-size: 3rem;

    }

    .answer-button {
        font-size: 2.8rem;
    }

    #next-btn {
        margin-top: 8%;
        font-size: 2.5rem;
        height: 50px;
    }

    #back-btn {

        height: 50px;
        margin-top: 8%;
        font-size: 2.5rem;
    }

    .feedback {
        height: 75%;
        width: 70%;
        font-size: 2rem;
        padding: 4%;
        border: 2px solid blue;
        border-radius: 30px;
        background-color: rgb(215, 207, 207);

    }

    .submitFeedback {
        width: 30%;
        height: 10%;
        border-radius: 30px;
        font-size: 2rem;
    }

    .submitFeedback:hover {
        cursor: pointer;
        box-shadow: 5px 5px 7px 0px rgb(215, 207, 207);
    }

}

@media (min-width:1100px) {
    header {
        padding-top: 5%;
    }

    #intro {
        font-size: 3.5rem;
        padding: 0;
        padding-top: 10%;

    }

    #form-container {
        width: 50%;
        height: 40%;

        margin: 0 auto;
    }

    #start-btn {
        width: 20%;
        height: 65px;
        font-size: 2.5rem;
        margin-top: 5%;
        margin-bottom: 0px;
        display: none;
    }

    #question-container {
        width: 100vw;
        height: 17%;
        font-size: 4rem;
        letter-spacing: 2px;

    }

    .answer-button {
        height: 50%;
        width: 45vw;
        font-size: 3rem;
    }

    #next-btn {
        width: 20%;
        height: 60px;
        margin-top: 4%;
        font-size: 2rem;

    }

    #back-btn {
        width: 20%;
        height: 60px;

        color: rgb(3, 3, 178);
        font-size: 2rem;
        font-weight: bolder;
        text-align: center;

        border-radius: 30px;
        margin-top: 4%;
        background-color: rgb(215, 207, 207);

    }

    .feedback {
        height: 75%;
        width: 30%;
        font-size: 2rem;
        padding: 1%;
        border: 2px solid blue;
        border-radius: 30px;
        background-color: rgb(215, 207, 207);

    }

    .submitFeedback {
        width: 10%;
        height: 10%;
        border-radius: 30px;
        background-color: rgb(215, 207, 207);
        color: blue;
        border: 2px solid blue;
        margin: 15px auto;
        display: block;
    }

    .submitFeedback:hover {
        cursor: pointer;
        box-shadow: 5px 5px 7px 0px rgb(215, 207, 207);
    }
}